---
import "../../css/style.css";
import Mainlayout from "../../layouts/Mainlayout.astro";
import HomeExplorebuttons from "../../components/HomeExplorebuttons.astro";
import AddToBasket from "../../components/AddToBasket.astro";

export async function getStaticPaths() {
    const data = await fetch("https://zalgeaakczgvvabyukxy.supabase.co/rest/v1/onebrick", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbGdlYWFrY3pndnZhYnl1a3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDIwNDYyMTMsImV4cCI6MjAxNzYyMjIxM30.whMkOHF_vj4y1xhGC_SGbzmJ7qCi71W9ouWSLbijLEE"
    },}).then(response => response.json());

    return data.map((product)=>{
        return {
            params: {klodsnummer: product.klodsnummer},
            props: {ProductData: product}, 
        };
    });
}

const {ProductData} = Astro.props;
console.log(ProductData);
---

<Mainlayout title={`klodsnummer ${ProductData.klodsnummer}`}>
    <div class="back_button"><HomeExplorebuttons href_text="../productlist" text="TILBAGE"/></div>
    <article class="block">
        <section class="grid_product">
            <div>
                <img class="product_img" src={ProductData.img} alt="Legoklods">
            </div>
            <div class="flex_product">
                <span class="text_flex"><p class="bold">Pris:</p> <p>{ProductData.pris}</p></span>
                <span class="text_flex"><p class="bold">Lego type:</p> <p>{ProductData.type} {ProductData.stud}</p></span>
                <span class="text_flex"><p class="bold">Klodsnummer:</p> <p>{ProductData.klodsnummer}</p></span>
                <span class="text_flex"><p class="bold">Farve:</p> <p>{ProductData.farve}</p></span>
                <p class="bold">Tilføj til kurv:</p>
                <div class="add_to_basket"><AddToBasket/></div>
            </div>
        </section>
    </article>
</Mainlayout>


<style>
    .bold{
    font-weight: bold;
}
.add_to_basket{
    margin-top: 20px;
}
.add_kurv_flex{
    display: flex;
    justify-content: center;
    gap: 20px
}
.back_button{
    margin: 50px 10px;
}

.grid_product{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 75px 0px ;
    gap: 20px;
}

.flex_product{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.text_flex{
    display: flex;
    justify-content: space-between;
}

.block{
    margin: 0px 50px 0px 50px;
}

.product_img{
    width: 200px;
}

@media (min-width: 1000px){

    .product_img{
        width: 300px;
    }
    .back_button{
        margin: 50px 40px;
    }

    .grid_product{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 100px 0px ;
        gap: 0px;
    }
}

</style>

