---
import "../css/style.css";
const {title, p1, p2, p3, p4, p5} = Astro.props;
---

<div class="DonateSell_Indhold"> 
    <h3>{title}</h3>
    <p>{p1}</p>
    <p>{p2}</p>
    <p>{p3}</p>
    <p>{p4}</p>
    <p>{p5}</p>
    <slot/>
</div>

<style>
    .DonateSell_Indhold{
        margin: 40px 0;
    }

    h3{
        margin-top: 20px;
    }

    @media screen and (min-width: 1000px){
        .DonateSell_Indhold{
            max-width:600px;
        }
    }
</style>