---
import ProductCard from "./ProductCard.astro";
const {indhold} = Astro.props;

---

<section>
    {indhold.map ((product) => <ProductCard klodsnummer= {product.klodsnummer} type = {product.type} farve ={product.farve}
    stud = {product.stud} img = {product.img} pris = {product.pris} />)};
</section>


<style>
    section{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }


    @media screen and (min-width:800px){

        section{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

</style>