---
import "../css/style.css";
const {card} = Astro.props;
---

<a class="card_link" href={`product/${card.Klodsnummer}`}>
    <article class="card_flex">
        <img src={card.Img} alt="Legoklods">
        <span class="text_flex"><p class="bold">Lego type:</p> <p>{card.Type} {card.Stud}</p></span>
        <span class="text_flex"><p class="bold">Klodsnummer:</p> <p>{card.Klodsnummer}</p></span>
        <span class="text_flex"><p class="bold">Farve:</p> <p>{card.Farve}</p></span>
        <button class="se_mere_bt">SE MERE</button>
    </article>
</a>

<style>

/* vi skal lige finde ud af hvilken der er pænest */
.bold{
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

.card_link:hover{
    text-decoration: none;
}

.card_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    padding: 40px 10px 40px 10px;
}

.card_flex img{
    height: 100px;
    margin-bottom: 20px;
}

.text_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

p{
    margin: 5px;
}

.se_mere_bt{
    width: 100px;
    height: 30px;
    align-self: self-start;
    margin-top: 20px;
    font-family: ;
    color:var(--font_color);
    background-color: var(--button_red);
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    border:none;
}

.se_mere_bt:hover{
    background-color: var(--footer_color);
    border:3px solid var(--button_red);
}

.se_mere_bt:active{
    background-color: var(--footer_color);
    border:3px solid var(--button_red);
}


@media (min-width: 1000px){
     
.card_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding: 70px 10px 70px 10px;
}

.card_flex img{
    height: 150px;
    margin-bottom: 20px;
}

.text_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.se_mere_bt{
    width: 100px;
    height: 30px;
    align-self: center;
    margin-top: 30px;
}

}

</style>